
@{
    ViewBag.Title = "UnassignClassroom";
}

<body>
<br><br><br><br><br>
<h2 style="text-align: center">Unassign Classroom</h2>

<form method="POST" id="myForm">
    <input type="submit" value="Unassign Classroom" align=" center" style="height: 150px; width: 400px; margin-left: 480px; margin-top: 50px; background: red;"/>
</form>


</body>