
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <br><br><br><br><br>
<div>
    <h1>@ViewBag.student</h1>
</div>
</body>
</html>
